html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 360px;
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

.form {
    display: grid;
    row-gap: 20px;
    margin: 50px;
    padding: 20px;
    max-width: 400px;
    background-color: #bcc7dc;
    border-radius: 4px;
}

.form--send-ok {
    background-color: #c7ffc7;
}

.form--not-send {
    background-color: #ffd2cd;
}

.form__input {
    font-size: 16px;
    width: 100%;
    padding: 10px 5px;
    appearance: none;
    border-radius: 0;
    border: 1px solid #1f1f1f;
    transition: border .2s ease-in-out;
}

.form__file {
    cursor: pointer;
}

.form__input:hover,
.form__input:focus {
    border-color: #a1a1a1;
}

.form__btn {
    padding: 10px 5px;
    font-size: inherit;
    font-weight: 700;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background .1s ease-in-out;
}

.form__btn:hover,
.form__btn:focus {
    background-color: #e1e1e1;
}